<!--

    empty card

-->
<div class="col s12 m6 l4">
    <div class="card medium">
        <div class="card-content">
            <div class="card-title">
                <%= data.day %>
            </div>
            <br>
            <br>
            <div class="row-centered">
                <button class ="btn waves-effect waves-light red col s6 offset-s3" onclick="selectNewRecipe(this)" value=<%= data.day %>>Click me!</button>
            </div>
        </div>
    </div>
</div>

