<!--

    Template for card that has data

-->

<div class="card" id=(<%= JSON.stringify(data.day) %>)>
    <div class="card-content">
        <div class="card-title">
            <%= data.recipe.name %>
        </div>
        <ul class="collection">
            <%      for (let ingredient in data.recipe.ingredients){ %>
                        <li class="collection-item"> <%= ingredient %> </li>
            <%      } %>
        </ul>
    </div>
</div>