<footer class="page-footer fixed">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">
                    Footer Content
                </h5>
                <p class="grey-text text-lighten-4">Here is some text</p>
            </div>
            <div class="col l4 offset l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a href="#!" class="grey-text text-lighten-3"></a>Home</li>
                    <li><a href="#!" class="grey-text text-lighten-3"></a>Groceries</li>
                    <li><a href="#!" class="grey-text text-lighten-3"></a>About</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright" style>
        <div class="container">Copyright Jakub Kasan</div>
    </div>
</footer>