<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/materialize.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="/js/materialize.js"></script>
    <script src="/js/card.js"></script>
</head>
    <nav class="red">
        <div class="nav-wrapper red container">
            <a href="/" class="brand-logo">Meals</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown-options">Options</a>
                    <ul id="dropdown-options" class="dropdown-content">
                        <li>
                            <a href="#!">Login</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#!">Groceries</a></li>
                <li><a href="#!">About</a></li>
            </ul>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded",function(){
                var elems = document.querySelectorAll('.dropdown-trigger')
                var instances = M.Dropdown.init(elems);
            });
        </script>
    </nav>
</html>