<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/materialize.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="/js/materialize.js"></script>
    <script src="/js/card.js"></script>
</head>
    <nav class="red">
        <div class="nav-wrapper red container">
            <a href="/" class="brand-logo">Meals</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/recipes">Recipes</a></li>
                <li><a href="/ingredients">Ingredients</a></li>
                <li><a href="#!">About</a></li>
            </ul>
        </div>
    </nav>
</html>