<div class="container">
    <div class="nav-wrapper">
        <form>
            <input type="search" id="search" required>
            <label for="search" class="label-icon"><i class="material-icons">search</i></label>
        </form>
    </div>
</div>