<% include header %>
<div class="section">
    <div class="container" style="height: 100vh">
        <div class="row">
            <div class="header center">
                <h1>Welcome!</h1>
                <br>
                <h4>Scroll down to find out more!</h4>
            </div>
        </div>
    </div>            
</div>

<% include footer %>