<% include ../header %>

<script src="/js/ingredients.js"></script>

<div class="container">
    <div class="section">
        <div class="row">
            <form action="" method="post">
                <div class="row section">
                    <div id="nameInputDiv" class="section col s12 l12 input-field">
                        <textarea id="nameInput" class="materialize-textarea" name="name" required></textarea>
                        <label for="nameInput">Name</label>
                    </div>

                    <div id="descriptionInputDiv" class="section col s12 l12 input-field">
                        <textarea id="descriptionInput" class="materialize-textarea" name="description"></textarea>
                        <label for="descriptionInput">Description</label>
                    </div>
                    <div class="row">
                        <div class="col s5 l2">
                            <p>Protein:</p>
                        </div>
                        <div class="col s5 l2 ">
                            <input type="text" id="proteins" name="proteins" required>
                        </div>
                        <div class="col s5 l2 offset-l4">
                            <p>Fat:</p>
                        </div>
                        <div class="col s5 l2 ">
                            <input type="text" id="fats" name="fats" required>
                        </div>
                        <div class="col s5 l2">
                            <p>Carbohydrates:</p>
                        </div>
                        <div class="col s5 l2">
                            <input type="text" id="carbohydrates" name="carbohydrates" required>
                        </div>
                        <div class="col s5 l2 offset-l4">
                            <p>Calories:</p>
                        </div>
                        <div class="col s5 l2 ">
                            <input type="text" id="calories" name="calories" required>
                        </div>
                        <div class="col s5 l2">
                            <p>Cost:</p>
                        </div>
                        <div class="col s5 l2">
                            <input type="text" id="cost" name="cost" required>
                        </div>
                        <div class="col s5 l2 offset-l4">
                            <p>Measured By:</p>
                        </div>
                        <div class="col s5 l2">
                            <div class="input-field">
                                <select name="grams">
                                    <option value=true>Grams</option>
                                    <option value=false>Pieces</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="header center">
                        <button class="btn">Submit Ingredient!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../footer %>