<% include ../header %>

<script src="/js/ingredients/add.js"></script>

<div class="container">
    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="autocomplete-input" class="autocomplete">
            <!-- <label for="search" class="label-icon"><i class="material-icons">search</i></label> -->
        </div>
        <!-- <div class="col s12">
            <a href="#!" class="mybutton">Button!</a>
        </div> -->
        <div class="collection col s12">
            
        </div>
    </div>
</div>

<% include ../footer %>