<% include ../header %>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 l12">
                <div class="header centered">
                    <a href="#!">Ingredients!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../footer %>